.sub-contents {
    padding-top: 54px;
    border-bottom: 1px solid #dedede;
}

.figure-w {
    max-width: 1200px;
    @include push--auto;

    &.pdn-b-120 {
        padding-bottom: 12rem;
    }

    &2 {
        padding-top: 50px;
        max-width: 1200px;
        @include push--auto;

    }
}

.title01 {
    font-size: 3rem;
    color: #0062b4;
    @include serif;
    font-weight: 500;
    letter-spacing: -1.1px;
}

.title02 {
    font-size: 2rem;
}

.title-bullet-01 {
    color: $color-primary;
    font-size: 2rem;
    font-weight: 700;
    padding-left: 17px;
    position: relative;
    padding-bottom: 4px;

    &:nth-of-type(1) {
        margin-top: 3px;
    }

    margin-top:4rem;

    &::before {
        content: '';
        width: 12px;
        height: 12px;
        border-radius: 50px;
        display: block;
        position: absolute;
        left: 0;
        top: 5px;
        border: 3px solid $color-primary;
        box-sizing: border-box;
    }
}

.subtitle01 {
    font-size: 2rem;
    color: #333;
    font-weight: 700;
    margin-top: 13px
}

.subtitle02 {
    font-size: 2rem;
    color: #333;
    font-weight: 700;
    margin-top: 13px;
    letter-spacing: -0.7px;
    padding-bottom: 3px;

    >b {
        color: #0062b4;
        font-weight: 500;
    }
}

.txt {
    margin-top: 20px;
    line-height: 1.43;
    color: #777777;

    &.txt-first {
        margin-top: 3px;
    }
}

.purpose {
    background: url('../images/contents/sub01_01_base.png') no-repeat center right;
    height: 175px;
    padding-right: 240px;

    .txt {
        margin-top: 12px;
    }
}

.org {
    margin-top: 11px;


    .title01 {
        max-width: 1200px;
        @include push--auto;
    }

    .org-chart-wrap {
        background: #f8f8f8;
        padding: 30px 2rem 7rem 2rem;
        margin-top: 6px;

        .container {
            max-width: 1200px;
            @include push--auto;
        }

        .ref {
            letter-spacing: -1.1px;
        }
    }


    .chart-lv-1 {
        width: 700px;
        @include push--auto;
        letter-spacing: -10px;
        margin-top: 28px;

        ul {
            display: flex;
            margin-left: -90px;
        }

        li {
            display: inline-block;
            width: 300px;
            text-align: center;
            background-color: #f8b000;
            border-radius: 10px;
            color: #fff;
            letter-spacing: -1px;
            height: 75px;
            vertical-align: top;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            p {
                padding: 0 1rem;
            }



            &:first-child {
                background-color: #0062b4;
                margin-right: 100px;

                &::before {
                    content: '';
                    width: 100px;
                    height: 1px;
                    top: 50%;
                    left: 100%;
                    background: #ddd;
                    position: absolute;
                    ;
                }
            }

            strong {
                font-weight: 700;
                display: block;
                font-size: 2rem;

            }
        }
    }

    .chart-lv-2 {
        width: 50%;
        margin-left: calc(50% - 91px);
        padding-right: 70px;
        padding-top: 50px;
        padding-bottom: 62px;
        position: relative;

        &::before {
            content: '';
            height: 100%;
            width: 1px;
            position: absolute;
            left: 200px;
            top: 0;
            background: #ddd;
        }

        &::after {
            content: '';
            height: 1px;
            width: 50%;
            position: absolute;
            left: 200px;
            top: 88px;
            background: #ddd;
        }

        p {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #f8b000;
            border-radius: 10px;
            width: 250px;
            height: 75px;
            margin-left: auto;
            position: relative;
            z-index: 1;
            background: #fff;
            transition: 0.3s;
            cursor: pointer;

            strong {
                display: block;
                padding: 0 2rem;
                text-align: center;
            }


            &.selected {
                border-width: 4px;
            }
        }
    }

    .chart-lv-3 {
        width: 1030px;
        @include push--auto;
        position: relative;
        padding-top: 91px;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            background: #ddd;
            height: 1px;
            width: calc(100% - 150px);
            left: 75px;
        }

        ul {
            display: flex;
            justify-content: space-between;
        }

        li {
            width: 150px;
            border-radius: 7px;
            border: 1px solid #0062b4;
            background: #fff;
            height: 75px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            transition: 0.3s;

            z-index: 2;
            cursor: pointer;


            &.selected {
                border-width: 4px;
            }

            a {
                display: block;
                position: relative;

                &::before {
                    content: '';
                    width: 1px;
                    height: 90px;
                    position: absolute;
                    left: 50%;
                    top: -108px;
                    background: #ddd;
                    z-index: 1;
                }
            }


        }
    }


    .memberlist {
        display: none;

        &.selected {
            display: block;
        }
    }
}

.tb-type01 {
    table {
        width: 100%;
        text-align: center;
        font-size: 1.5rem;
        line-height: 1.5;
    }

    thead th {
        background: #555555;
        color: #fff;
    }

    th,
    td {
        border: 1px solid #bebebe;
        padding: 15px 10px 12px 10px;
    }

    td {
        color: #777;
        font-weight: 400;
    }


}

.tb-type02 {
    table {
        width: 100%;
        text-align: center;
        font-size: 1.5rem;
        line-height: 1.5;
        border-top: 2px solid #222222;


        thead {
            th {
                font-size: 1.6rem;
                background: #f9f9f9;
                border-bottom: 1px solid #bebebe;
                padding: 14px 10px 12px 10px;
            }
        }

        tbody {

            td,
            th {
                padding: 8px 10px 9px 10px;
                border-bottom: 1px solid #bebebe;
            }

            th {
                background: #f9f9f9;
                border-right: 1px solid #bebebe;
                font-size: 1.6rem;
                color: #222;
                border-left: 1px solid #bebebe;

                &.nb-l {
                    border-left: none
                }

                &.al {
                    text-align: left;
                }
            }
        }
    }
}

.b-label {
    display: none;
}

.tb-patient-info {
    .input-box {
        display: inline-block;

        input {
            text-align: center;
            padding: 0 10px;

            &::placeholder {
                text-align: center;
            }
        }
    }

    .radio-container {
        display: inline-block;
        vertical-align: middle;

        &:first-of-type {
            margin-right: 15px;
        }
    }
}

.select-group {
    border-top: 2px solid #222;
    padding: 20px 20px 12px 20px;
    border-bottom: 1px solid #bebebe;

    &.type-inline {
        border: none;
        padding: 0;

        ul li {
            width: auto;
            margin-right: 20px;
        }
    }

    &.type-inline2 {
        ul li {
            width: auto;
            margin-right: 20px;
        }
    }


    &.type-3 {
        ul li {
            width: 33.3333%;
        }
    }

    ul {
        display: flex;
        flex-wrap: wrap;

        li {
            width: 16.666%;
            //padding: 9px 0 5px 0;
            min-height: 32px;

            display: flex;
            flex-wrap: wrap;
            align-items: center;

            &.li-position {
                position: relative;
                text-align: left;
                margin-top: -2px;

                .li-position-container {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 100%;
                    text-align: left;
                }

                &+li {
                    margin-right: 1px;
                }

                &-1 {
                    margin-top: 10px;

                    .check-container {
                        min-width: 100px;
                    }

                    .radio-container {
                        min-width: 100px;
                    }

                    .input-box {
                        position: absolute;
                        left: 100px;
                        top: -6px;
                        margin-top: 0;
                    }
                }
            }

            &.li-position2 {
                position: relative;

                .li-position-container {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 100%;
                }

                &+li {
                    margin-right: 1px;
                }

                &.li-nurse {
                    margin-top: 10px;

                    .input-box {
                        padding-left: 75px;
                        position: absolute;
                        left: 0;
                        top: -10px;

                        .nur-type {
                            width: 145px;
                        }

                        .nur-exp {
                            width: 85px;
                        }
                    }
                }
            }

            .check-container,
            .radio-container {
                display: inline-block;
                vertical-align: middle;
            }


            .add-input {
                margin-left: 7px;
                margin-top: -6px;
                //display: none;
                display: block;

                >input {
                    height: 28px;
                    line-height: 28px;
                }
            }

            .input-box {
                margin-top: 5px
            }
        }
    }
}


.help-text-gray {
    font-size: 1.4rem;
    color: #777777;
    margin-top: 10px;
    letter-spacing: -0.35px;
}

.example-box {
    background: #f9f9f9;
    margin-top: 20px;
    padding: 18px 20px;

    .tit {
        font-size: 1.6rem;
    }

    .ex-list {
        margin-top: 15px;
        margin-left: 10px;


        li {
            font-size: 1.4rem;
            color: #777;

            >b {
                color: #222;
                font-weight: 500;
            }

            &:not(:first-child) {
                margin-top: 12px
            }
        }
    }

}

.textarea-box {
    border-top: 2px solid #222;
    border-bottom: 1px solid #bebebe;
    padding: 17px 19px 20px 21px;

    .txt {
        margin-top: 0;
        font-size: 1.4rem;
    }

    textarea {
        border: 1px solid #bebebe;
        height: 210px;
        padding: 10px;
        margin-top: 9px
    }

}


.cause {
    margin-top: 15px;

    .check-support {
        &:nth-of-type(2) {
            margin-top: 7px;
        }
    }
}

.support-user-info {
    margin-top: 10px;

    dl {
        font-size: 1.4rem;
        letter-spacing: -10px;

        dt,
        dd {
            letter-spacing: -1px;
            display: inline-block;
            vertical-align: middle;
            margin-bottom: 7px;
        }

        dt {
            font-weight: 500;
            color: #222;
            width: 105px;
            padding-left: 18px;

        }

        dd {
            width: calc(100% - 105px);
        }

        .input-phone {
            letter-spacing: -10px;

            * {
                letter-spacing: -1px;
            }

            input {
                width: 80px
            }

            .dash {
                width: 5px;
                height: 1px;
                display: inline-block;
                vertical-align: middle;
                margin: 0 8px;
                background: #bebebe
            }
        }

        .input-email {
            input {
                width: 275px;
            }

            select {
                width: 120px;
                margin-left: 5px;
            }
        }
    }
}

.note-box-gray {
    background: #777777;
    color: #fff;
    font-size: 1.6rem;
    text-align: center;

    margin-top: 20px;
    padding: 15px 10px;
}

.btn-area {
    margin-top: 4rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        display: block;
        min-width: 170px;
        border-radius: 50px;
        font-size: 2rem;
        margin: 0 5px;
    }

    .btn-yellow {
        background: #f8b000;
        color: #fff;
        height: 50px;
        line-height: 50px;
    }

    .btn-blue {
        background: #0062b4;
        color: #fff;
        height: 50px;
        line-height: 50px;
    }

    .btn-gray {
        background: #0062b4;
        color: #fff;
        height: 50px;
        line-height: 50px;
    }
}

.btn-board-list {
    width: 100px;
    height: 50px;
    color: #fff;
    line-height: 50px;
    text-align: center;
    background: #41464e;
}

.btn-complete {
    width: 100px;
    ;
}

//3 학습하기
.learning-main {
    max-width: 1200px;
    @include push--auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 8rem;

    >.item {
        width: 30%;
        height: 400px;
        border-radius: 10rem;
        overflow: hidden;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border-width: 0;
        border-style: solid;
        border-color: transparent;
        transition: 0.3s;

        &:hover {
            border-width: 3px
        }
    }

    // .icon {
    //     margin-top: 10px;
    // }

    .title {
        font-size: 3rem;
        @include serif;
        font-weight: 500;
        line-height: 1.4;
        margin-top: 2rem;
        display: block;
    }

    .desc {
        font-size: 1.8rem;
        color: #333333;
        margin-top: 10px;
        letter-spacing: -1.5px;
    }

    .item-kops {
        background: #f4f9ff;
        border-color: #096ab5;

        .title {
            color: #096ab5;
        }
    }

    .item-statistics {
        background: #fff5e4;
        border-color: #b1901f;

        .title {
            color: #b1901f
        }
    }

    .item-results {
        background: #c7f4ec;
        border-color: #0f8095;

        .title {
            color: #0f8095
        }
    }
}



//LEARNING BOARD 
.board-status {
    //margin-top: 2rem;
    display: flex;
    justify-content: right;
    align-items: center;
    color: #777777;
    font-size: 1.6rem;
    margin-bottom: 10px;

    .page {
        >span {
            margin-right: 10px;
        }

        b {
            color: #0062b4;
            font-weight: 500;
        }
    }

    .input-selectbox {
        width: 125px;

        select {
            width: 100%;
        }
    }
}

.board-list {
    border-top: 2px solid #222;
    margin-top: 14px;

    li {
        padding: 15px 10px 20px 22px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #ccc;
        width: 100%;
        position: relative;

        &::after {
            content: '';
            width: 14px;
            height: 14px;
            background: url('../images/contents/board_list_plus.png') no-repeat center;
            position: absolute;
            right: 25px;
            top: 50%;
            margin-top: -5px;
        }


        a {
            display: block;


        }

        .download {
            position: absolute;
            right: 70px;
            top: 50%;
            width: 140px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            color: #fff;
            background: #0062b4;
            border-radius: 50px;
            margin-top: -20px;
            text-transform: uppercase;
            font-size: 1.4rem;
            z-index: 1;

            span::after {
                content: '';
                width: 14px;
                height: 14px;
                background: url('../images/contents/icon_down.png') no-repeat center;
                display: inline-block;
                margin-left: 5px;
                vertical-align: middle;
            }
        }

        .icon-new {
            width: 22px;
            height: 22px;
            border-radius: 50%;
            background: #0062b4;
            display: inline-block;
            color: #fff;
            font-size: 1.6rem;
            line-height: 25px;
            text-align: center;
            margin-right: 6px;
            font-weight: 700;
        }

        .date {
            width: 50px;
            text-align: center;
            color: #999;


            .day {
                font-size: 4rem;
                @include serif;
                font-weight: 700;
                display: block;
            }

            >p {
                font-size: 1.4rem;
                @include serif;
            }
        }

        .title {
            display: block;
            width: calc(100% - 50px);
            padding-left: 52px;
            margin-left: 22px;
            font-size: 2rem;
            @include ellipsis(60%);
            padding-top: 6px;
            color: #333333;
            position: relative;
            letter-spacing: -2px;
            padding-right: 30px;

            &.title-blue {
                color: #0062b4
            }

            &::before {
                content: '';
                width: 1px;
                height: 30px;
                background: #e5e5e5;
                position: absolute;
                left: 0;
                top: 50%;
                margin-top: -15px;
            }
        }
    }
}

.board-search {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-top: 18px;

    select,
    input,
    button {
        height: 45px;
        border-radius: 3px;
        line-height: 45px;
        margin-left: 4px;
    }

    select {
        width: 70px;

    }

    input {
        width: 200px;
    }

    .btn-search {
        background: #41464e;
        color: #fff;
        width: 60px;
        border: 1px solid #25282d;
        ;
    }
}

.board-pagination {
    margin-top: 40px;
    letter-spacing: -10px;
    margin-bottom: 5rem;
    text-align: center;

    a {
        display: inline-block;
        letter-spacing: 0;
        vertical-align: middle;
        width: 38px;
        height: 38px;
        line-height: 38px;
        font-size: 1.6rem;
        text-align: center;
        vertical-align: top;
        color: #27272f;
        font-weight: 400;
        margin: 0 3px;
        border: 1px solid #41464e;

        &.current {
            color: #0062b4;
            font-weight: 700;
            border-color: #0062b4;
        }

        &.page-prev,
        &.page-next,
        &.page-first,
        &.page-last {
            transform-origin: center;
            width: 38px;
            height: 38px;
            line-height: 38px;
            border: 1px solid #dddddd;
        }

        &.page-prev {
            background: url("../images/contents/pager_next.png") no-repeat center;
            transform: rotate(180deg);
        }

        &.page-next {
            background: url("../images/contents/pager_next.png") no-repeat center;
        }

    }

    .num-group {
        display: inline-block;
        vertical-align: middle;
    }

    @include mq("tablet-small") {
        .num-group {
            padding: 0 10px;
        }

        .page-num {
            display: none;
            width: auto;
            font-size: 1.3rem;
            border: none;

            &:nth-of-type(1) {
                display: inline-block;
            }

            &:last-child {
                display: inline-block;
            }

            &.current::after {
                content: "/";
                padding: 0 0 0 4px;
            }
        }
    }
}

.board-view {
    border-top: 2px solid #004ea2;
    margin-top: 46px;
    margin-bottom: 5rem;


    .titlearea {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px 30px 21px 30px;
        border-bottom: 1px dotted #979797;

        .title {
            font-size: 2.2rem;
        }

        .info {
            li {
                display: inline-block;
                font-size: 1.6rem;
                margin-left: 3rem;

                strong {
                    font-weight: 400;
                    padding-right: 5px;
                }

                span {
                    color: #777
                }
            }
        }
    }

    .attached-file {
        border-bottom: 1px solid #eaecf1;
        padding: 20px 20px 8px 30px;

        a {
            display: block;
            color: #666666;

            img {
                display: inline-block;
                margin-right: 10px;
                vertical-align: middle;
            }

            .filename {
                display: inline-block;
                @include ellipsis(90%);
                vertical-align: middle;
                padding-top: 4px;
            }
        }
    }

    .view-contents {
        padding: 3.4rem 4rem;
        font-size: 1.5rem;
        line-height: 2;
    }


}

.post-nav {
    //border-top: 1px solid #333;
    border-bottom: 1px solid #ddd;

    ul {

        li {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-top: 1px solid #eaecf1;
            padding: 16px 20px 14px 0px;

            span {
                position: relative;
                width: 70px;
                color: #333;
                font-weight: 500;
            }

            p {
                width: calc(100% - 70px);
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                color: #666666;

                a {
                    color: #666;

                    &:hover {
                        color: $color-primary;
                    }
                }
            }

            &.post-nav-list {
                span {
                    padding-left: 21px;

                }

                p {
                    padding-left: 24px;
                }

                &.post-prev {
                    border-bottom: 1px dotted #eaecf1;
                }
            }


            &.no-post {
                color: #b5b5b5 !important;
            }
        }
    }
}





.board-write {
    background-color: #fff;
    border-top: 2px solid $color-primary;
    margin-top: 3rem;

    padding-bottom: 5rem;

    table {
        width: 100%;
        font-size: 1.5rem;

        th,
        td {
            padding: 15px;
            border-bottom: 1px solid #e6e6e6;
        }

        th {
            background: #f7f7f7;
            border-right: 1px solid #e6e6e6;
        }
    }


    .write-option {
        label {
            display: inline-block;
            color: #333;
            margin-right: 2rem;
        }
    }

    .input-box {

        input,
        textarea,
        select {
            width: 100%;
            border-color: #e6e6e6
        }

        &-file {
            display: flex;
            align-items: center;
            justify-content: left;
            flex-wrap: wrap;

            input {
                max-width: calc(100% - 100px);
                width: auto;
                min-width: 270px;
            }

            .attached-file {
                padding-left: 10px;
                padding-right: 5px;
                color: #666;
                font-weight: 400;
                padding-top: 4px;
                padding-bottom: 4px;
            }

            .btn-del {
                width: 60px;
                background: #333;
                color: #fff;
                margin-left: 4px;
                height: 32px;
                line-height: 32px;
            }
        }
    }

    .btn-area {
        display: flex;
        align-items: center;
        justify-content: center;

        >a,
        >button {
            margin: 0 2px;
            font-size: 1.6rem;
        }
    }
}




@include mq('contents') {

    .figure-w {
        padding: 0 2rem;

        &2 {
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }

    .org {
        .title01 {
            padding-left: 2rem;
        }

        .chart-lv-2 {
            padding-right: 0;
        }

        .chart-lv-3 {
            width: 100%;
        }

        .figure-w {
            padding: 0;
        }
    }

    .select-group {

        &.select-group--management_type,
        &.select-group--accident_action {

            ul li {
                &.li-position {
                    width: 100%;
                }
            }
        }
    }
}

@include mq('tablet-wide') {

    .sub-visual {
        height: 250px;
        background-size: auto 200px;
        background-position: 70% center;

        .sub-visual-typo {
            top: initial;
            bottom: calc(2rem + 70px);

            .ko {
                font-size: 3.5rem;
            }

            .en {
                font-size: 2rem;
            }
        }
    }

    .org {

        .chart-lv-1 {
            width: 100%;

            ul {
                margin: 0;
            }

            li {
                width: 48%;
            }
        }

        .chart-lv-2 {
            width: 48%;
            margin-left: auto;


            p {
                width: 50%;
            }

            &::before {
                left: 25%;
            }

            &::after {
                left: 25%;
            }
        }

        .chart-lv-3 {
            &::before {
                width: 81%;
                left: 9.5%;
            }

            li {
                width: 19%;
            }
        }
    }

    .select-group {

        ul li {
            &.li-position {
                width: 50%
            }
        }

        &.select-group--institution {
            ul li {
                width: 25%;

                &.li-position {
                    width: 50%
                }
            }
        }

        &.select-group--stage {
            ul li {
                width: 33.333%;
                text-align: left;
                margin-right: 0;
                padding-right: 10px;
            }
        }

        &.select-group--harm_degree {
            ul li {
                width: 33.3333%;
            }
        }

    }


    //SUB02
    .tb-patient-info {
        table {
            thead {
                display: none;
            }

            tbody {
                display: block;

                th,
                td {
                    text-align: left;

                    &::before {
                        content: attr(data-cell-header);
                        display: inline-block;
                        width: 80px;
                        color: #666;
                    }
                }

                tr {
                    display: block;
                    letter-spacing: -10px;

                    * {
                        letter-spacing: -1px;
                    }
                }
            }


            td {
                letter-spacing: -1px;
                display: inline-block;
                align-items: center;
                border-right: 1px solid #ddd;
            }

            .input-box {
                width: calc(100% - 90px);
            }

            .b-patient-name,
            .b-patient-gen,
            .b-patient-dob,
            .b-patient-sp,
            .b-patient-count {
                width: 49.5%;
                padding: 10px;
                height: 50px;
            }

            .b-patient-count {
                width: 100%;
            }

            .iw-120 input,
            .iw-160 input {
                width: 100%;
            }

            .b-patient-sp {
                .input-box.iw-300 {

                    select {
                        width: 100%;
                    }
                }
            }

            .b-patient-dob,
            .b-patient-sp,
            .b-patient-count {

                border-right: none;
            }
        }
    }


    .tb-patient-info2 {
        colgroup {
            display: none;
        }

        th {
            display: none;
        }

        td {
            &::before {
                content: attr(data-cell-header);
                display: inline-block;
                width: 100px;
                color: #666;
                padding-top: 8px;
            }

            .input-box {
                display: inline-block;
                width: calc(100% - 110px);
            }
        }

        .input-time {
            input {
                width: 48%;
            }
        }
    }

    .tb-patient-staff {

        td {
            text-align: left;

            .select-group {
                display: inline-block;
                width: calc(100% - 100px);
                vertical-align: middle;
            }
        }

        td::before {
            padding-top: 0;
            width: 90px;
            vertical-align: middle;


        }
    }

    .select-group {
        ul li {
            // width: auto;
            // padding: 0 2rem 1rem 0;

            &.li-position {

                .li-position-container {
                    position: static;
                    margin-top: -5px;

                    &.m-mt-0 {
                        margin-top: 0;
                    }

                    .input-box {
                        display: inline-block;
                        margin-left: 5px;
                        margin-top: 0;
                    }
                }
            }
        }
    }
}

@include mq('tablet') {

    .title01 {
        font-size: 2.5rem;
    }


    .purpose {
        height: auto;
        padding-right: 30%;
        background-size: 34%;
        background-position: bottom right;
        text-align: justify;
        margin-bottom: 3rem;
    }

    .org {

        .org-chart-wrap {
            padding: 2rem;
        }

        .chart-lv-1 {

            ul {
                width: 100%;
                flex-wrap: wrap;

                li {
                    width: 50%;
                    margin: 10px 0 0 0;

                    &:first-child::before {
                        display: none;
                    }

                }
            }
        }

        .chart-lv-2 {
            margin: 0;
            width: 100%;
            padding-top: 3rem;
            padding-bottom: 3rem;

            &::after {
                top: 50%
            }

            p {
                width: 50%;
            }
        }

        .chart-lv-3 {
            padding-top: 30px;

            &::before {
                width: 68%;
                left: 16%;
            }

            ul {
                flex-wrap: wrap;
            }

            li {
                width: 32%;
                margin-bottom: 10px;

                a {
                    padding: 0 1rem;
                }

                a::before {
                    z-index: -1;
                    height: 30px;
                    top: -50px;
                }

                &:nth-child(4),
                &:nth-child(5) {
                    a::before {
                        display: none;
                    }
                }
            }
        }

        .memberlist colgroup {
            display: none;
        }

        .tb-type01 th,
        .tb-type01 td {
            padding: 6px;
        }
    }

    .select-group {
        &.select-group--place {
            ul li {

                width: 33.3333%;

                &.li-position {
                    width: 66.6666%
                }
            }
        }

    }


    .learning-main {
        flex-wrap: wrap;
        margin-top: 0;
        padding: 0 2rem;

        .item {
            width: 100%;
            height: auto;
            margin: 1rem 0;
        }

        .icon {
            img {
                max-height: 120px;
            }
        }

        .item-container {
            padding: 3rem 5rem;
        }

        .title,
        .desc {
            br {
                display: none;
            }
        }
    }
}

@include mq('tablet-small') {

    .btn-area {
        margin-top: 2.5rem;


        button {
            display: block;
            width: 25%;
            font-size: 1.6rem;
            min-width: initial;

            &.btn-blue,
            &.btn-yellow {
                height: 40px;
                line-height: 40px;
            }
        }

        >a,
        >button {
            height: 40px;
            line-height: 40px;
            min-width: 90px;
        }
    }

    input {
        font-size: 12px !important;
        letter-spacing: 0;

        &::placeholder {
            font-size: 12px !important;
            letter-spacing: 0;
        }
    }

    .board-write {
        .input-box-file {
            input {
                min-width: initial;
            }

            .attached-file {
                order: 5;
                width: 100%;
                padding: 10px 0px 0 0;
            }
        }
    }

    .tb-patient-info2 {
        tr {
            display: block;
        }

        td {
            width: 100%;
            display: block;
            text-align: left;
            padding: 10px 5px !important;

            &::before {
                width: 90px;
            }

            .input-box {
                width: calc(100% - 100px);
            }
        }
    }

    .tb-factor-improve {
        colgroup {
            display: none;
        }

        table th {
            width: 80px;
        }

        .select-group ul li.li-position {
            width: 100%;
        }
    }

    .select-group {
        &.select-group--area {
            ul li {
                width: 25%;
            }
        }

        &.select-group--stage {
            ul li {
                width: 50%;
                padding: 0;

                &.li-position {
                    width: 100%;
                }
            }
        }

        &.select-group--harm_degree {
            ul li {
                width: 50%;
            }
        }

        &.select-group--internal_reporting {
            ul li {
                width: 50%;
            }
        }

        &.patient_description {
            ul li {
                width: 33.333%;
                margin: 0;
            }
        }

        &.select-group--accident_reporter {
            ul li {
                width: 45%;
            }
        }
    }

    .textarea-box textarea {
        height: 140px;
    }

    .support-user-info dl .input-email input {
        width: 50%;
    }

    .board-list li {
        padding: 15px 0;
        flex-wrap: wrap;

        &::after {
            right: 10px;
        }


        .icon-new {
            width: 18px;
            height: 18px;
            line-height: 18px;
            font-size: 12px;
            font-weight: bold;
        }

        .date {
            .day {
                font-size: 3rem;
            }
        }

        .title {
            margin-left: 10px;
            font-size: 1.8rem;
            padding: 15px 32px 15px 10px;
            //max-width: 100%;
        }

        .download {
            //position: static;
            font-size: 0;
            right: 40px;
            width: 40px;
            display: flex;
            align-items: center;
            justify-content: center;

            span::after {
                margin: 0;
            }
        }
    }

    .board-view {
        margin-top: 2rem;

        .titlearea {
            padding: 20px 10px;
            flex-wrap: wrap;

            .title {
                width: 100%
            }

            .info {
                margin-top: 10px;

                li {
                    margin-left: 0;
                    margin-right: 10px;
                }
            }
        }

        .attached-file {
            padding: 10px;
        }

        .view-contents {
            padding: 2rem
        }
    }
}

@include mq('phone-wide') {

    .sub-visual {
        background-position: 65% center;

        &::after {
            height: 50px;
        }

        .sub-visual-typo {
            .ko {
                font-size: 2.5rem;
            }

            .en {
                font-size: 13px;
                margin: 0;
            }
        }
    }

    .sub-lnb {
        height: 50px;
        margin-top: -50px;

        .home {
            height: 50px;
            width: 55px;
        }

        .sub-depth01 {
            margin-left: 55px;
        }


        .sub-depth {
            .current {
                line-height: 50px;
                overflow: hidden;
                height: 50px;
                padding-left: 10px;
                ;
                font-size: 13px;

                &::after {
                    top: 18px;
                }
            }

            >ul {
                top: 50px;

                li {
                    a {
                        padding: 14px 10px 5px 10px;
                    }

                    &:last-child {
                        a {
                            padding-bottom: 10px;
                        }
                    }
                }
            }
        }
    }


    .select-group {
        padding-left: 10px;
        padding-right: 10px;

        &.select-group--institution {
            ul li {
                width: 50%;

                &.li-position {
                    width: 100%;
                }
            }
        }

        &.select-group--place {
            ul li {

                ///width: 50%;

                &.li-position {
                    width: 100%;
                    margin: 5px 0;

                }
            }
        }

        &.select-group--management_type {

            ul li {
                width: 50%;
                margin-right: 0;

                &.li-position {
                    width: 100%;
                }
            }
        }

        &.select-group--harm_degree {
            ul li {
                width: 100%;
            }
        }

        &.patient_description {
            ul li {
                width: 50%
            }
        }

        &.select-group--accident_reporter {
            ul li {
                width: 100%;
            }
        }

    }

    //SUB02
    .tb-patient-info {
        table {

            .b-patient-name,
            .b-patient-gen,
            .b-patient-dob,
            .b-patient-sp,
            .b-patient-count {
                width: 100%;
                border-right: none;
            }
        }
    }

    .tb-patient-staff {

        colgroup {
            display: none;
        }

        th {
            width: 80px;
        }

        td {
            text-align: left;
            width: calc(100% - 80px);

            .select-group {
                width: 100%;

                ul {
                    display: block;

                    li {
                        width: 100%;
                        margin-right: 0;

                        .add-input {
                            width: 100px;

                            input {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }

    .textarea-box {
        padding: 2rem 0;
    }

    .support-user-info dl {
        dt {
            width: 100%;
            padding-left: 0;
            margin-bottom: 4px;
        }

        dd {
            width: 100%;
        }

        .input-phone input {
            width: calc(33% - 20px);

            .dash {
                margin: 0 2px
            }
        }
    }

    .board-status {
        display: none;
    }

    .example-box {
        padding: 1.5rem;

        .ex-list {
            margin-left: 0;

            li {
                font-size: 12.5px;
                line-height: 1.5;
            }
        }
    }
}

@include mq('phone-mid') {

    .select-group.select-group--place ul li.m-wide-66 {
        width: 66.66%;
    }

    .select-group.select-group--stage ul li {
        width: 100%;
    }

    .tb-patient-info .input-box input#department {
        width: 100%;
    }
}